<%= render :partial => 'menu', :locals => {:selected_id => @selected_id} %>
<%= render 'sidebar' %>
<div class="home_pic_container">
  <div class="breadcrumb">当前位置 - 客户资源</div>
  <div class="text_content">
    <p><%= Info.first.description %> </p>
  </div>
</div>