// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$page_width: 960px;
.header {
  width: $page_width;
  height: 252px;
  background-image: url("header.jpg");
  background-repeat: no-repeat;
}

.menu {
  $menu_height: 62px;
  $menu_count: 6;

  width: $page_width;
  height: $menu_height;
  ul {
    width: $page_width;
    height: $menu_height;
    background-image: url("menu.jpg");
    background-repeat: no-repeat;
    list-style: none;
    margin: 0px auto;
    padding: 0px 0px 0px 140px;
    text-align: center;
    li {
      float: left;
      height: $menu_height;
      width: ($page_width - 140px)/$menu_count;
      a {
        width: ($page_width - 140px)/$menu_count;
        height: $menu_height;
        line-height: $menu_height;
        color: #ffffff;
        font-size: 20px;
        display: block;

        &.selected, &:hover {
          background-image: url("menu_selected.png");
          background-position: 40% 80%;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.sidebar {
  float: left;
  width: 160px;
  height: 830px;
  font-size: 14px;
  background-image: url("side.png");
  background-repeat: no-repeat;
  background-position: -13px 0px;
  margin-top: -190px;
  .sidebar_content {
    margin-top: 220px;
    .sidebar_menu_1 {
      a {
        background: url('home.png') no-repeat 5% 50%;
        text-indent: 1em;
        display: block;
        padding: 18px 22px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #000000;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        height: 52px;
        line-height: 50px;
        a {
          color: #000000;
          font-size: 16px;
          display: block;
          text-decoration: none;
          width: 160px;
          height: 50px;
          padding-left: 22px;
          border-bottom: 1px solid #e2e8ed;
          border-top: 1px solid #f7f7f9;
          &.selected, &:hover {
            color: #000000;
            font-size: 18px;
            text-decoration: none;
            background-image: url("sidebar_selected.png");
            background-position: -165px -60px;
            border-top: none;
            padding-top: 1px;
          }
        }
      }
    }
  }

  .sidebar_contact {
    margin-top: 40px;
    background-color: #ffffff;
    padding: 0px 0px 10px 10px;
    .title {
      font-size: 18px;
      color: #000000;
      font-weight: 600;
    }
  }
}

.home_pic_container {
  width: 800px;
  height: 830px;
  float: left;
  background-color: #fff;
  margin-top: 45px;
  .breadcrumb {
    color: #ababab;
    margin-left: 10px;
  }
  ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 10px;
    padding-top: 0px;
    list-style: none;
    li.home_pic {
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      width: 180px;
      list-style: none;
      a {
        width: 180px;
        height: 220px;
        display: block
      }
      .home_img {
        width: 180px;
        height: 220px;
      }
      .pic_name {
        text-align: center;
      }
    }

  }
}

.index {
  width: 800px;
  float: left;
  background-color: #fff;
  margin-top: 45px;
  .index_content {
    padding: 10px;
    color: #3a4450;
    p {
      margin: 0 0 10px;
      font-size: 16px;
    }
  }
  .index_header {
    background-color: #5FB435;
    padding: 6px 10px;
    h3 {
      background: url('category.png') no-repeat left center;
      display: inline-block;
      color: #fff;
      padding-left: 24px;
    }
    a.more {
      display: inline-block;
      float: right;
      background: url('more.png') no-repeat left center;
      color: #fff;
      line-height: 27px;
      padding-left: 20px;
      margin-right: 10px;
    }
  }
  .pic_item {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    img {
      width: 178px;
      height: 220px;
      border: 1px solid #eee;
    }
  }
}

.pagination {
  margin: 20px 0 10px 20px;
  a {
    padding: 6px 12px;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    &:hover {
      color: #fff;
      background-color: #4390df;
    }
  }
  em.current {
    padding: 6px 12px;
    color: #fff;
    background-color: #4390df;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
}
