<div class="header">
	<div class="logo">
		<%= image_tag 'logo.png' %>
	</div>
	<div class="contact">
		<p>联系电话: <%= Info.first.phone %></p>
		<p>QQ: <%= Info.first.qq %></p>
		<p>Email: <%= Info.first.email %></p>
	</div>
</div>
